<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Price</label>
        <input type="number" class="form-control" id="exampleFormControlInput2" placeholder="Price">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Artist</label>
        <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="Artist">
      </div>

      <button class="btn btn-primary"type="submit">Save</button>
  </form>
