<div class="container-fluid body">
  <div class="circus">

  <div class="circusFond"> <h1> W.Circus </h1></div>

  </div>
</div>
<div class="container-fluid annonce">
<div class="row">

<div class="card col-md-4" style="width: 18rem;">
    <img class="card-img-top imageSize" src="../../../assets/show1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tonight Show</h5>
      <p class="card-text">Du 01/06/2019 au 30/10/2019 - 19H30 : Vogue des Marrons</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card col-md-4" style="width: 18rem;">
      <img class="card-img-top imageSize" src="../../../assets/show2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Festival Circus</h5>
        <p class="card-text">Du 07/07/2019 au 30/09/2019 - 20h30 : Place Guichard</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card col-md-4" style="width: 18rem;">
        <img class="card-img-top imageSize" src="../../../assets/show3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">The Sun's Circus</h5>
          <p class="card-text">20h30 : Place Guichard</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
