<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5 mx-auto">
      <form (submit)="register()">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>

          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="firstname" placeholder="Enter First Name"
            [(ngModel)]="credentials.firstname">
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lastname" placeholder="Enter Last Name"
            [(ngModel)]="credentials.lastname">
          </div>

          <div class="form-group">
            <label>Email Adress</label>
            <input type="email" class="form-control" name="email" placeholder="Enter Email"
            [(ngModel)]="credentials.email">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password"
            [(ngModel)]="credentials.password">
          </div>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
      </form>
    </div>
  </div>
</div>
